<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Top Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: black ;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            border: 2px solid green;
            margin-top: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        h1, h2 {
            color: white;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .btn-dark {
            color: white;
            background-color: black;
            border-color: green;
            margin-right: 10px;
        }

        .top-restaurants {
            margin-top: 30px;
        }

        .top-restaurants ul {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .top-restaurants li {
            font-size: 18px;
            color: white;
            background-color: black;
            border: 2px solid green;
            border-radius: 20px;
            padding: 10px 20px;
            margin: 5px;
        }

        .top-restaurants li a {
            color: white;
            text-decoration: none;
        }

        .top-restaurants li::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: green;
            margin-right: 5px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
  <div class = "conteiner">
    <div class="top-restaurants">
      <h1>The Top Restaurants</h1>
      <ul>
          <% @top_restaurants.each do |restaurant| %>
              <li><%= link_to(restaurant.name, restaurant_path(restaurant)) %>
          <% end %>
      </ul>
    </div>
    <div>
      <ul>
          <li><%=link_to("See more", :restaurants, class: "btn btn-dark")%></li>
          <p></p>
      </ul>
    </div>
  </div>
</body>
</html>
