<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Restaurant APP </title>
</head>
<body>
<h1> Restaurant APP </h1>
<ul>
    <li> <%=link_to("See all restaurants", :restaurants, class: "btn btn-dark")%></li>
    <p></p>
    <li> <%=link_to("See all dishes", :dishes, class: "btn btn-dark")%> </li>
</ul>
</body>
</html>
